
<div class="hero-unit">
	<h1>歡迎來到 Microblog</h1>
	<p>Microblog 是一個基於 Node.js 的微博系统。</p>
	 <p>
		<a class="btn btn-primary btn-large" href="/blog/login">登入</a>
		<a class="btn btn-large" href="/blog/reg">立即註冊</a>
	</p>
</div>

	<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
		<input type="text" class="span8" name="post">
		<button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>發言</button>
	</form>
